@charset "utf-8";
body{
    color: #ffffff;
    background-color: #04041c;
    font-family: "Sawarabi Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    text-align: center;

    main{
        text-align: center;
    };

    header{
        background-color: #ffffff10;
        display: flex;
        align-items: center;
        box-shadow: 2px 0px 4px #ffffff;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    };

    canvas{
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        z-index: -1;
    };

    footer{
        background-color: #0403148a;
    };

    .header_wide_logo{
        margin-right: auto;
        width: 360px;
        height: 175px;
    };

    .header_menu_item{
        list-style: none;
        display: inline-block;
        padding: 10px;
    };

    /* Hello,World! hoverアニメーション */
    .hw_anim{
        transition: letter-spacing 0.3s;
    }

    .hw_anim:hover{
        letter-spacing: 0.1em;
    };
};

